body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* container */
.container {
  padding: 5px 10vw;
}

.thumbnail-container {
  padding: 4px 10px;
}

.wrapper {
  background-color: rgba(110, 161, 202, 0.473);
  display: grid;
  grid-template-areas:
    "nav"
    "hero"
    "banner"
    "skills"
    "projects"
    "aboutme"
    "contact"
    "footer";

  position: relative;
}

/* floating icon */
.floater {
  height: 30px;
  width: 30px;
  background-color: orangered;
  rotate: 270deg;
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.wrapper > div:nth-child(2) {
  position: absolute;
  top: 90px;
  left: 10px;
}

/* nav-bar */
.nav-bar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -3px 11px -3px rgba(0, 0, 0, 0.911);
}

nav > div > span:nth-child(2) {
  color: orangered;
  font-weight: bolder;
}

nav > div > span:first-child {
  font-family: "Courier New";
  font-weight: bold;
}

.nav-ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  font-weight: bolder;
}

nav ul li:hover {
  color: red;
  cursor: pointer;
}
/* hero section */
.hero {
  grid-area: hero;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.hero-content {
  padding: 30px 60px;
  background-color: orangered;
  margin: 0 10vw;
  font-size: small;
  box-shadow: -2px 1px 19px 1px rgba(32, 30, 30, 0.623);
}

.hero-content > p > span {
  font-weight: bolder;
}

.hero-content > p:nth-child(2) {
  font-size: x-large;
  font-weight: bolder;
}

.hero-content > button {
  border-radius: 5px;
  background: rgba(0, 0, 0);
  color: white;
  font-size: smaller;
  padding: 5px 10px;
}

.myImg {
  background: url(./assets/devendra_black_bg.png) no-repeat;
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
  right: 10vw;
}

/* banner */
.banner {
  grid-area: banner;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 10vw;
  padding: 10px 10px;
  align-items: center;
  box-shadow: -2px 1px 19px 1px rgba(32, 30, 30, 0.623);
}

.banner hr {
  height: 25px;
}

.banner-logo {
  background-color: orangered;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.banner div {
  display: flex;
  gap: 5px;
}

.banner > div > div:last-child {
  display: flex;
  flex-direction: column;
}
.banner > div > div > span:last-child {
  color: orangered;
}
/* skills */
.skills {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
h2 {
  margin: auto;
}

.skills ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.skills ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-custom-size {
  font-size: 50px;
}

/* projects */
.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.project-grid {
  display: grid;
  gap: 5px;
  grid-template-areas:
    "p1 p2"
    "p3 p4";
  padding-top: 25px;
}

.p1 {
  grid-area: p1;
  background: skyblue;
  display: flex;
  flex-direction: column;
}

.thero {
  position: relative;
}

.timage {
  position: absolute;
  bottom: 1px;
}

.tcon {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}
.p2 {
  grid-area: p2;
  background: rgb(107, 152, 170);
}
.p3 {
  grid-area: p3;
  background: rgb(95, 156, 158);
}
.p4 {
  grid-area: p4;
  background: rgb(43, 117, 99);
}

/* About Me */
.aboutme {
  grid-area: aboutme;
}

/* contact */
.contact {
  grid-area: contact;
}

footer {
  grid-area: footer;
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
