body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

h2 {
  text-decoration: underline;
  text-decoration-color: orangered;
}

/* container */
.container {
  padding: 5px 50px;
}

.thumbnail-container {
  padding: 4px 10px;
}

.wrapper {
  background-color: rgba(110, 161, 202, 0.473);
  display: grid;
  grid-template-areas:
    "nav"
    "hero"
    "banner"
    "skills"
    "projects"
    "aboutme"
    "contact"
    "footer";

  position: relative;
}

/* floating icon */
.floater {
  height: 30px;
  width: 30px;
  background-color: orangered;
  rotate: 270deg;
  font-size: x-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.wrapper > div:nth-child(2) {
  position: fixed;
  top: 90px;
  left: 10px;
}

/* nav-bar */
.nav-bar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -3px 11px -3px rgba(0, 0, 0, 0.911);
}

nav > div > span:nth-child(2) {
  color: orangered;
  font-weight: bolder;
}

nav > div > span:first-child {
  font-family: "Courier New";
  font-weight: bold;
}

.nav-ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  font-weight: bolder;
}

#bar {
  display: none;
}

nav ul li:hover {
  color: red;
  cursor: pointer;
}
/* hero section */
.hero {
  grid-area: hero;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.hero-content {
  padding: 30px 60px;
  background-color: orangered;
  font-size: small;
  box-shadow: -2px 1px 19px 1px rgba(32, 30, 30, 0.623);
}

.hero-content > p > span {
  font-weight: bolder;
}

.hero-content > p:nth-child(2) {
  font-size: x-large;
  font-weight: bolder;
}

.hero-content > button {
  border-radius: 5px;
  background: rgba(0, 0, 0);
  color: white;
  font-size: smaller;
  padding: 5px 10px;
}

.myImg {
  background: url(./assets/devendra_black_bg.png) no-repeat;
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
  right: 10vw;
}

/* banner */
.banner {
  grid-area: banner;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 50px;
  padding: 10px 10px;
  align-items: center;
  box-shadow: -2px 1px 19px 1px rgba(32, 30, 30, 0.623);
}

.banner hr {
  height: 25px;
}

.banner-logo {
  background-color: orangered;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.banner div {
  display: flex;
}

.banner > div > div:last-child {
  display: flex;
  flex-direction: column;
}
.banner > div > div > span:last-child {
  color: orangered;
}
/* skills */
.skills {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
h2 {
  margin: auto;
}

.skills ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.skills ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-custom-size {
  font-size: 50px;
}

/* projects */
.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.project-grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "p1 p2"
    "p3 p4";
  padding-top: 50px;
}

.p1 {
  grid-area: p1;
  background: skyblue;
  display: flex;
  flex-direction: column;
}

.thero {
  position: relative;
}

.timage {
  position: absolute;
  bottom: 3px;
  right: 1px;
}

.tcon {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}
.p2 {
  grid-area: p2;
  background: rgb(107, 152, 170);
}
.p3 {
  grid-area: p3;
  background: rgb(95, 156, 158);
}
.p4 {
  grid-area: p4;
  background: rgb(43, 117, 99);
}

/* About Me */
.aboutme {
  background-color: rgba(59, 110, 35, 0.603);
  grid-area: aboutme;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.aboutme > div {
  padding-top: 25px;
  display: flex;
}

.aboutme img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/* contact */
.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact > div {
  padding: 50px 0;
}

.contact > div:nth-child(2) {
  display: flex;
  gap: 20px;
}

.contact > form > input {
  background: black;
  color: white;
  border-radius: 25px;
  text-align: center;
}

.contact form {
  position: relative;
}

.btnsend {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  bottom: 7px;
  right: 5px;
}

footer {
  grid-area: footer;
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* mobile */
@media (width < 550px) {
  .nav-ul {
    display: none;
  }
  #bar {
    display: block;
  }

  /* banner */
  .myImg {
    background: url(./assets/devendra_black_bg.png) no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
    top: 05px;
    right: 30%;
  }

  .project-grid {
    display: grid;
    gap: 5px;
    grid-template-areas:
      "p1"
      "p2"
      "p3"
      "p4";
    padding-top: 25px;
  }

  .thero {
    position: relative;
  }

  .timage {
    position: absolute;
    height: 150px;
    width: 150px;
    bottom: 3px;
    right: 1px;
  }

  /* about */
  .aboutme > div {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
