:root {
  --color-main: orangered;
  --color-dark: #2a2a2a;

  --body-bg: rgb(182, 209, 214);
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;
  --dark-border-color: white;

  --shadow: 5px -3px 31px 8px rgba(109, 104, 104, 0.692);
}

/* resetters */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* google font */
/* .nova-slim-regular {
  font-family: "Nova Slim", system-ui;
  font-weight: 400;
  font-style: normal;
} */

/* wrapper */
.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

/* <!-- dark mode toggler --> */
[for="darkmode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}

[for="darkmode"]:hover {
  cursor: pointer;
  transform: scale(1.5);
  transform: 0.3s;
}
/* <!-- nav-bar --> */
header {
  box-shadow: var(--shadow);
  position: static;
  top: 0;
  background: var(--body-bg);
}

header .header {
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Nova Slim", system-ui;
  font-weight: 400;
  font-style: normal;
}

.line::before {
  content: "";
  background: var(--color-main);
  width: 2px;
  height: 100%;

  position: absolute;
  left: 46%;
}

.navigation {
  list-style: none;
  font-weight: bold;
}

.navigation li:hover {
  color: var(--color-main);
  transition: all 0.6;
}
/* Appy dark mode  */
#darkmode {
  display: none;
}

#darkmode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
  --border-color: var(--dark-border-color);
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.title span {
  border-bottom: 3px solid var(--color-main);
}

/* <!-- hero section --> */
.hero-section {
  margin-top: 5rem;
  max-height: 60vh;
}

.hero {
  background: var(--color-main);
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--shadow);
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 4px;
}

.left button {
  background: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: -7rem;
}

.right img {
  height: 100%;
}
/* <!-- BAnner --> */
.banner {
  margin-top: 5rem;
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);

  padding: 2rem;
  border-radius: 50px;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.info-content .icon-container {
  background: var(--color-main);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
}

.info-content div span {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 5px;
}

.info-content div p {
  color: var(--color-main);
}

.info-divider {
  background: black;
  height: 70px;
  width: 2px;
}

/* <!-- Skills --> */

.skills {
  margin-top: 4rem;
}

.skills-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container > div > i {
  font-size: 3rem;
}
/* <!-- Projects --> */
.projects {
  margin-top: 5rem;
}

.projects .project-list {
  grid-template-columns: repeat(2, 1fr);
}

.projects .project-card {
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding-bottom: 2rem;
}

.project-card .links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* <!-- About section --> */
/* <!-- Contact section --> */
/* <!-- footer --> */
footer {
  grid-area: footer;
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
